/*
 * Copyright (c) 2022-2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#define HOST_OS 1
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "zmk-helpers/helper.h"
#include "romanian.dtsi"
#include "my_keys.dtsi"

#define  QW 0
#define RSE 1
#define LWR 2
#define ADJ 3

/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    behaviors {
        tlwr: tlwr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LWR>, <&tog LWR>, <&trans>;
        };

        trse: trse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo RSE>, <&tog RSE>, <&trans>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

/*
┌────┬────┬────┬────┬────┬────┬────┬────┬────┬────┬────┬────┬────┬────┐
│ ⎋  │ 1  │ 2  │ 3  │ 4  │ 5  │ 6  │ 7  │ 8  │ 9  │ 0  │ -  │ ⌫  │ 🕨  │
├────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┘
│ ↹  │ q  │ w  │ e  │ r  │ t  │ y  │ u  │ i  │ o  │ p  │ [  │ ]  │
├────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┤
│ #  │ a  │ s  │ d  │ f  │ g  │ h  │ j  │ k  │ l  │ ;  │ '  │ ⏎  │
├────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┤
│ ⇧( │ \  │ z  │ x  │ c  │ v  │ b  │ n  │ m  │ ,  │ .  │ ↑  │ /  │
├────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┼────┤
│ ⎈  │   │ ⇓  │ ⎇  │ ⇑  │    │    │    │ ⎇  │ ⇧) │ ←  │ ↓  │ →  │
└────┴────┴────┴────┴────┴────┴────┴────┴────┴────┴────┴────┴────┘
*/
        qw_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp U &kp I &kp O &kp P &none &none &none &none &none &none &none &none
                &kp TAB &kp CAPSLOCK &none &none &kp T &kp Y &kp RIGHT_BRACKET &kp LEFT_BRACKET &none &none &none &none &none &none &none &none
                &kp A &kp S &kp D &kp F &kp J &kp K &kp L &none &none &none &none &none &none &none &none &none
                &kp ESC &none &none &none &kp H &kp G &kp LEFT_ALT &kp ENTER &none &none &none &none &none &none &none &none
                &kp Z &kp X &kp C &kp V &kp M &kp COMMA &kp DOT &kp RIGHT_ALT &none &none &none &none &none &none &none &none
                &kp LEFT_CTRL &kp NON_US_BACKSLASH &none &none &none &none &none &kp DOWN &none &none &none &none &none &none &none &none
                &kp LEFT_CTRL &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &none &none &none &none
            >;
        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
